<%- include('common/header.ejs') %>
    <link rel="stylesheet" href="css/editormd.min.css">
    <div class="wrapper">
        <div class="container" style="width: 80%; max-width: 80%">
            <div class="edit-title">
                <input type="text" placeholder="Title">
            </div>
            <div class="edit-tags">
                <input type="text" placeholder="Tags">
            </div>
            <div id="editormd">
                <textarea style="display:none;"></textarea>
            </div>
            <div class="edit-submit-btn right-align">
                <a class="waves-effect waves-light btn">提交</a>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Error</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/editormd.min.js"></script>
    <script src="https://cdn.bootcss.com/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/public.js"></script>
    <script src="js/edit.js"></script>
    <%- include('common/footer.ejs') %>