<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
<%- include('common/header.ejs') %>
<section class="wrapper ">
  <div class="container">
    <div class="row">
      <form class="col s12 m6 offset-m3">
        <div class="card login-register">
          <ul id="tabs-login-register" class="tabs teal white-text">
            <li class="tab col s3">
              <a class="active" href="#tabs-login">LOGIN</a>
            </li>
            <li class="tab col s3">
              <a href="#tabs-register">REGISTER</a>
            </li>
          </ul>
          <div id="tabs-login">
            <div class="card-image teal-text">
              Hello
            </div>
            <div class="card-content">
              <div class="row">
                <div class="input-field">
                  <input id="username-l" type="text" class="validate" required>
                  <label for="username-l">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <input id="password-l" type="password" class="validate" required>
                  <label for="password-l">Password</label>
                </div>
              </div>
              <div class="row right-align">
                <button class="btn waves-effect waves-light" id="login-btn" type="submit" name="action">Login
                </button>
              </div>
            </div>
          </div>
          <div id="tabs-register" style="display: none;">
            <div class="card-image teal-text">
              Welcome
            </div>
            <div class="card-content">
              <div class="row">
                <div class="input-field">
                  <input id="username-r" type="text" class="validate" required>
                  <label for="username-r">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <input id="password-r" type="password" class="validate" required>
                  <label for="password-r">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <input id="password-confirmation-r" type="password" class="validate" required>
                  <label for="password-confirmation-r">Password Confirmation</label>
                </div>
              </div>
              <div class="row right-align">
                <button class="btn waves-effect waves-light" id="register-btn" type="submit" name="action">Register
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Error</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/materialize/0.100.2/js/materialize.min.js"></script>
<script src="js/public.js"></script>
<script src="js/login_register.js"></script>
<%- include('common/footer.ejs') %>