<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.min.css">
    <style>
        .dropdown-content {
            display: none;
        }
        .submenu li > a {
            padding-left:88px;
        }
        #side-nav-accordion .material-icons {
            font-size:30px;
        }
        .modal-content h4 {
            font-size:1.8rem;
        }
    </style>
</head>
<body>
    <section class="nav-bar">
        <div class="container">
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="images/wmatsui00.jpg">
                        </div>
                        <a href="#!user"><img class="circle" src="images/sophie-marceau-avant-2738254ruoqx.jpg"></a>
                        <a href="#!name"><span class="white-text name">John Doe</span></a>
                        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <ul id="side-nav-accordion">
                    <li><a href="/"><i class="material-icons">home</i>主页</a></li>
                    <li>
                        <a href="#!" class="link"><i class="material-icons">receipt</i>日期</a>
                        <ul class="submenu" style="display: none;">
                            <li><a href="#">Photoshop</a></li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">Maquetacion web</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="link"><i class="material-icons">account_circle</i>标签</a>
                        <ul class="submenu" style="display: none;">
                            <li><a href="#">Photoshop</a></li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">Maquetacion web</a></li>
                        </ul>
                    </li>
                    <li><a href="#!"><i class="material-icons">power_settings_new</i>退出</a></li>
                </ul>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </section>