$color: #fff;

.user-view {
  img {
    width: 100%;
    height: 100%;
  }
}

.login-register {
  margin-top:100px;
  min-height:450px;
  .tabs {
    a {
      color: #fff;
      &:hover {
        color:#fff;
      }
      &.active {
        color:#fff;
      }
    }
  }
  .tab.col {
    width:50%;
  }
  .indicator {
    height:100%;
    background-color: rgba(255,255,255,.1);
  }
  .card-image {
    display: flex;
    align-items: center;
    padding:0 1.5rem;
    font-size:30px;
    height:60px;
  }
  .card-content {
    padding:1.5rem;
    padding-top: 0;
    margin-top:-10px;
    .row {
      margin:0;
    }
  }
  button[type=submit] {
    margin-top:10px;
  }
}


//edit

.edit-title {
  input {
    padding-left: 15px;
  }
}

.edit-submit-btn {
  margin-bottom: 100px;
}